# Xcode / xcodegen
*.xcodeproj/
*.xcworkspace/
!default.xcworkspace
xcuserdata/
DerivedData/
build/
.build/
*.xcuserstate

# macOS
.DS_Store

# SwiftPM
Package.resolved

# Distribution
dist/
*.dmg

# Misc
*.swp
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
